@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply w-full border border-transparent rounded-md py-2 px-4 flex items-center justify-center text-base font-medium text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-primary-500;
	}

	.input-text {
		@apply appearance-none min-w-0 w-full bg-white border border-gray-300 rounded-md py-2 px-4 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white focus:border-white focus:placeholder-gray-400;
	}

	.select-trigger {
		@apply min-w-32 w-full bg-white border border-gray-300 rounded-md px-4 text-base text-gray-900 placeholder-gray-500 hover:bg-blue-200;
	}

	.select-trigger:focus {
		@apply outline-none ring-2 ring-offset-2 ring-offset-gray-800 ring-white border-white placeholder-gray-400;
	}

	.select-popover {
		@apply min-w-32 mt-0 w-full bg-white border border-gray-300 rounded-md shadow-lg max-h-60 py-1 text-base overflow-y-auto focus:outline-none sm:text-sm;
	}

	.select-item-label {
		@apply min-w-32 w-full bg-white px-4 text-base text-gray-900 placeholder-gray-500 flex items-center cursor-pointer relative py-1;
	}

	.select-item-label:hover {
		@apply bg-white border border-gray-300 rounded-md bg-blue-200;
	}

	.color-tag {
		@apply rounded-full inline-block mr-2 py-0 px-3;
	}

	.custom-input-text {
		@apply w-full border rounded-md py-0 px-2 border-gray-300;
	}
}
